In [1]:
import random
from datetime import datetime, timedelta

In [2]:
import psycopg2

# cria conexão
def conn():
  con = psycopg2.connect(
    database = "drogasystem", 
    user = "oscar", 
    password = "oscar", 
    host = "127.0.0.1", 
    port = "5432")
  cur = con.cursor()
  return con, cur

# faz selects
def select(sql):
  all = []
  con, cur = conn()
  cur.execute(sql)
  all = cur.fetchall()
  cur.close()
  con.close()
  return all

# executa inserts e updates
def exec(sql):
  try:
    con, cur = conn()
    cur.execute(sql)
    con.commit()
  except (Exception, psycopg2.Error) as error:
    if cur == None: cur.rollback()
    print("Error:", error)
  finally:
    if cur: cur.close()
    if con: con.close()

In [3]:
# atualizar estoque
def estoque(dat, med_id, preco, fval, fpre):
  # lote
  lot = random.randrange(100000, 999999)

  # data da validade
  val = dat + timedelta(days = fval * 30 + 30)
  val = datetime.strptime(val.strftime('1/%m/%Y'), '%d/%m/%Y').date() - timedelta(days = 1)
  
  # preco de compra
  pre = float(preco)
  pre = int(pre / fpre * 10)
  pre /= 10

  # quantidade comprada
  if preco > 600:
    qtd = random.randrange(2, 7, 2)
  elif preco > 300:
    qtd = random.randrange(3, 10, 3)
  elif preco > 100:
    qtd = random.randrange(5, 16, 5)
  elif preco > 40:
    qtd = random.randrange(2, 20, 4)
  else:
    qtd = random.randrange(3, 49, 4)

  sql = "insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) "
  sql += f"values ({med_id}, 'lote {lot}', '{dat}', '{val}', {pre}, {qtd}, {qtd}); \n"

  # if model.find_by_sql(f"select count(*) from estoque_total where medicamento_id = {med_id}; ")[0][0] == 0:
  if select(f"select count(*) from estoque_total where medicamento_id = {med_id};")[0][0] == 0:
    if preco > 400:
      min = 3
    elif preco > 100:
      min = 5
    else:
      min = 10
    sql += f"insert into estoque_total (medicamento_id, total, minimo) values ({med_id}, {qtd}, {min}); "
  else:
    sql += f"update estoque_total set total = total + {qtd} where medicamento_id = {med_id}; "
    
  return sql

In [4]:
# venda
def venda(clis, pros, dat, venda_id):
  sql = ""
  sql1 = ""
  sql2 = ""
  sql3 = ""
  total = 0

  # cliente e profissional
  pro = None
  cli = None
  if random.randrange(3) > 0:
    cli = str(clis[random.randrange(len(clis))][0])

  # produtos em estoque
  s = "select estoque.id, estoque.medicamento_id, estoque.quant_atual, medicamento.preco, medicamento.controle, "
  s += "estoque.preco, estoque.data, estoque.validade, estoque_total.minimo from estoque "
  s += "inner join medicamento on medicamento.id = estoque.medicamento_id "
  s += "inner join estoque_total on estoque_total.medicamento_id = estoque.medicamento_id "
  s += "where quant_atual > 0 order by 1;"
  ests = select(s)

  # quantidade de itens da venda
  qiv = random.randrange(3) + 1
  for i in range(qiv):

    # escolha do produto
    p = random.randrange(len(ests))

    est_id = ests[p][0]
    med_id = ests[p][1]
    qtd_atu = ests[p][2]
    preco = float(ests[p][3])
    contr = ests[p][4]
    
    # VERIFICAR SE É MEDICAMENTO CONTROLADO!!!
    # profissional
    if contr != "Não controlado":
      pro = str(pros[random.randrange(len(pros))][0])

    # quantidade do produto
    if preco > 200:
      qtd_vnd = random.randrange(3) + 1
    elif preco > 50:
      qtd_vnd = random.randrange(5) + 1
    else:
      qtd_vnd = random.randrange(10) + 1
    if qtd_vnd > qtd_atu:
      qtd_vnd = qtd_atu

    # desconto para cliente de até 40% e 10% de chance dar desconto para não cliente até 10%
    desc = 0
    if cli:
      desc = qtd_vnd * preco * random.randrange(40) / 100
      desc = int(desc * 10) / 10
    elif random.randrange(10) > 0:
      desc = qtd_vnd * preco * random.randrange(10) / 100
      desc = int(desc * 10) / 10

    # totais
    tot = qtd_vnd * preco - desc
    total += tot

    sql1 += "insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) "
    sql1 += f"values ({venda_id}, {med_id}, {est_id}, {qtd_vnd}, {desc:.2f}, {tot:.2f}); \n"
    sql1 += f"update estoque set quant_venda = quant_venda + {qtd_vnd}, quant_atual = quant_atual - {qtd_vnd} where id = {est_id}; \n"
    sql1 += f"update estoque_total set total = total - {qtd_vnd} where medicamento_id = {med_id}; \n"

    # reposição do estoque
    if qtd_atu < ests[p][8]:
      pr = ests[p][3]
      fval = (ests[p][7] - ests[p][6]).days / 30
      fpre = float(ests[p][3] / ests[p][5])
      sql2 += estoque(dat.date(), med_id, pr, fval, fpre) + "\n"
  
  sql3 = f"insert into venda ({'cliente_id, ' if cli else ''}{'profissional_id, ' if pro else ''}time_stamp, total) "
  sql3 += f"values ({cli + ', ' if cli else ''}{pro + ', ' if pro else ''}'{dat}', {total:.2f}); \n"
  sql = sql3 + sql1 + sql2
  print(sql)
  exec(sql)

In [5]:
if select(f"select count(*) from estoque;")[0][0] == 0:
  print("\n-- estoque inicial")
  meds = select(f"select id, nome, preco from medicamento order by 1;")
  
  dic = {}
  for med in meds:
    if (not med[1] in dic):
      dic[med[1]] = {}
      dic[med[1]]["val"] = random.randrange(6, 37, 6) # fator de validade
      dic[med[1]]["pre"] = random.uniform(1.8, 2.9) # fator de preço
      
  for med in meds:
    # data da compra
    dat = datetime.strptime('31/07/23', '%d/%m/%y').date()
    sql = estoque(dat, med[0], med[2], dic[med[1]]["val"], dic[med[1]]["pre"])
    print(sql)
    exec(sql)

-- estoque inicial
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (1, 'lote 966265', '2023-07-31', '2024-07-31', 26.9, 6, 6);
insert into estoque_total (medicamento_id, total, minimo) values (1, 6, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (2, 'lote 739498', '2023-07-31', '2026-07-31', 146.9, 3, 3);
insert into estoque_total (medicamento_id, total, minimo) values (2, 3, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (3, 'lote 994181', '2023-07-31', '2025-07-31', 30.9, 6, 6);
insert into estoque_total (medicamento_id, total, minimo) values (3, 6, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (4, 'lote 305287', '2023-07-31', '2025-01-31', 145.0, 9, 9);
insert into estoque_total (medicamento_id, total, minimo) values (4, 9, 3);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (5, 'lote 257777', '2023-07-31', '2026-01-31', 119.9, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (5, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (6, 'lote 431012', '2023-07-31', '2024-07-31', 122.6, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (6, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (7, 'lote 383821', '2023-07-31', '2025-01-31', 152.1, 9, 9);
insert into estoque_total (medicamento_id, total, minimo) values (7, 9, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (8, 'lote 560375', '2023-07-31', '2024-07-31', 61.8, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (8, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (9, 'lote 689837', '2023-07-31', '2025-07-31', 160.2, 9, 9);
insert into estoque_total (medicamento_id, total, minimo) values (9, 9, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (10, 'lote 713468', '2023-07-31', '2024-01-31', 82.5, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (10, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (11, 'lote 260659', '2023-07-31', '2026-07-31', 47.1, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (11, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (12, 'lote 993418', '2023-07-31', '2025-07-31', 77.6, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (12, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (13, 'lote 947380', '2023-07-31', '2026-01-31', 60.3, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (13, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (14, 'lote 837992', '2023-07-31', '2024-07-31', 59.2, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (14, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (15, 'lote 948054', '2023-07-31', '2025-01-31', 113.7, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (15, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (16, 'lote 147157', '2023-07-31', '2024-01-31', 79.6, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (16, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (17, 'lote 689564', '2023-07-31', '2025-01-31', 33.1, 6, 6);
insert into estoque_total (medicamento_id, total, minimo) values (17, 6, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (18, 'lote 770993', '2023-07-31', '2026-01-31', 24.9, 2, 2);
insert into estoque_total (medicamento_id, total, minimo) values (18, 2, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (19, 'lote 957841', '2023-07-31', '2025-01-31', 43.4, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (19, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (20, 'lote 800973', '2023-07-31', '2024-01-31', 115.4, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (20, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (21, 'lote 578690', '2023-07-31', '2025-07-31', 128.5, 3, 3);
insert into estoque_total (medicamento_id, total, minimo) values (21, 3, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (22, 'lote 480512', '2023-07-31', '2024-07-31', 133.6, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (22, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (23, 'lote 627881', '2023-07-31', '2026-07-31', 121.0, 6, 6);
insert into estoque_total (medicamento_id, total, minimo) values (23, 6, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (24, 'lote 461302', '2023-07-31', '2024-07-31', 128.0, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (24, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (25, 'lote 975999', '2023-07-31', '2024-07-31', 136.6, 9, 9);
insert into estoque_total (medicamento_id, total, minimo) values (25, 9, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (26, 'lote 218062', '2023-07-31', '2025-07-31', 131.0, 3, 3);
insert into estoque_total (medicamento_id, total, minimo) values (26, 3, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (27, 'lote 907371', '2023-07-31', '2024-07-31', 128.8, 9, 9);
insert into estoque_total (medicamento_id, total, minimo) values (27, 9, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (28, 'lote 493848', '2023-07-31', '2025-07-31', 68.5, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (28, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (29, 'lote 776896', '2023-07-31', '2026-07-31', 152.8, 6, 6);
insert into estoque_total (medicamento_id, total, minimo) values (29, 6, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (30, 'lote 602101', '2023-07-31', '2025-01-31', 47.5, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (30, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (31, 'lote 142053', '2023-07-31', '2026-07-31', 185.1, 9, 9);
insert into estoque_total (medicamento_id, total, minimo) values (31, 9, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (32, 'lote 864248', '2023-07-31', '2026-01-31', 111.2, 3, 3);
insert into estoque_total (medicamento_id, total, minimo) values (32, 3, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (33, 'lote 683699', '2023-07-31', '2024-01-31', 93.6, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (33, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (34, 'lote 220639', '2023-07-31', '2026-07-31', 177.4, 3, 3);
insert into estoque_total (medicamento_id, total, minimo) values (34, 3, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (35, 'lote 330592', '2023-07-31', '2026-01-31', 91.9, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (35, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (36, 'lote 731290', '2023-07-31', '2025-01-31', 123.1, 9, 9);
insert into estoque_total (medicamento_id, total, minimo) values (36, 9, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (37, 'lote 190761', '2023-07-31', '2025-07-31', 99.9, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (37, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (38, 'lote 870153', '2023-07-31', '2026-07-31', 76.6, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (38, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (39, 'lote 308926', '2023-07-31', '2024-01-31', 83.2, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (39, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (40, 'lote 157716', '2023-07-31', '2024-07-31', 12.9, 3, 3);
insert into estoque_total (medicamento_id, total, minimo) values (40, 3, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (41, 'lote 588668', '2023-07-31', '2025-01-31', 91.7, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (41, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (42, 'lote 146475', '2023-07-31', '2024-07-31', 79.1, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (42, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (43, 'lote 152427', '2023-07-31', '2024-07-31', 3.3, 11, 11);
insert into estoque_total (medicamento_id, total, minimo) values (43, 11, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (44, 'lote 113531', '2023-07-31', '2024-01-31', 49.7, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (44, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (45, 'lote 210502', '2023-07-31', '2024-01-31', 26.9, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (45, 10, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (46, 'lote 220248', '2023-07-31', '2024-01-31', 111.3, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (46, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (47, 'lote 587884', '2023-07-31', '2024-07-31', 117.0, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (47, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (48, 'lote 338229', '2023-07-31', '2025-01-31', 70.9, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (48, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (49, 'lote 667876', '2023-07-31', '2025-01-31', 56.6, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (49, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (50, 'lote 697479', '2023-07-31', '2025-01-31', 109.4, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (50, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (51, 'lote 924223', '2023-07-31', '2025-01-31', 26.0, 18, 18);
insert into estoque_total (medicamento_id, total, minimo) values (51, 18, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (52, 'lote 942634', '2023-07-31', '2025-07-31', 45.7, 2, 2);
insert into estoque_total (medicamento_id, total, minimo) values (52, 2, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (53, 'lote 921847', '2023-07-31', '2024-07-31', 58.5, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (53, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (54, 'lote 926244', '2023-07-31', '2024-01-31', 133.3, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (54, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (55, 'lote 906276', '2023-07-31', '2024-07-31', 75.3, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (55, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (56, 'lote 728461', '2023-07-31', '2026-07-31', 179.8, 6, 6);
insert into estoque_total (medicamento_id, total, minimo) values (56, 6, 3);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (57, 'lote 315035', '2023-07-31', '2026-01-31', 55.7, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (57, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (58, 'lote 956373', '2023-07-31', '2026-01-31', 78.2, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (58, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (59, 'lote 236062', '2023-07-31', '2024-01-31', 45.8, 2, 2);
insert into estoque_total (medicamento_id, total, minimo) values (59, 2, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (60, 'lote 445000', '2023-07-31', '2024-01-31', 71.2, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (60, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (61, 'lote 835441', '2023-07-31', '2024-07-31', 48.3, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (61, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (62, 'lote 664339', '2023-07-31', '2025-07-31', 124.2, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (62, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (63, 'lote 156399', '2023-07-31', '2025-01-31', 41.1, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (63, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (64, 'lote 454328', '2023-07-31', '2025-01-31', 64.3, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (64, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (65, 'lote 482618', '2023-07-31', '2024-07-31', 35.2, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (65, 10, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (66, 'lote 160848', '2023-07-31', '2026-01-31', 24.9, 18, 18);
insert into estoque_total (medicamento_id, total, minimo) values (66, 18, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (67, 'lote 682004', '2023-07-31', '2024-01-31', 67.1, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (67, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (68, 'lote 798264', '2023-07-31', '2026-07-31', 69.5, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (68, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (69, 'lote 937340', '2023-07-31', '2025-07-31', 91.0, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (69, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (70, 'lote 362074', '2023-07-31', '2025-01-31', 63.9, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (70, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (71, 'lote 134136', '2023-07-31', '2025-07-31', 119.2, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (71, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (72, 'lote 282905', '2023-07-31', '2024-01-31', 9.0, 23, 23);
insert into estoque_total (medicamento_id, total, minimo) values (72, 23, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (73, 'lote 471816', '2023-07-31', '2026-07-31', 18.8, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (73, 10, 10);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (74, 'lote 287114', '2023-07-31', '2025-07-31', 46.3, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (74, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (75, 'lote 745947', '2023-07-31', '2025-01-31', 107.9, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (75, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (76, 'lote 765193', '2023-07-31', '2024-07-31', 67.3, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (76, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (77, 'lote 413701', '2023-07-31', '2026-01-31', 126.1, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (77, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (78, 'lote 383392', '2023-07-31', '2024-07-31', 93.9, 15, 15);
insert into estoque_total (medicamento_id, total, minimo) values (78, 15, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (79, 'lote 498347', '2023-07-31', '2025-01-31', 57.1, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (79, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (80, 'lote 684600', '2023-07-31', '2024-07-31', 96.7, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (80, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (81, 'lote 983532', '2023-07-31', '2025-07-31', 79.9, 5, 5);
insert into estoque_total (medicamento_id, total, minimo) values (81, 5, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (82, 'lote 614812', '2023-07-31', '2026-01-31', 131.4, 10, 10);
insert into estoque_total (medicamento_id, total, minimo) values (82, 10, 5);
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (83, 'lote 884610', '2023-07-31', '2026-01-31', 41.2, 14, 14);
insert into estoque_total (medicamento_id, total, minimo) values (83, 14, 10);

In [6]:
# Vendas
print("\n-- vendas, itens de venda")

# possiveis clientes e profissionais
clis = select("select id from cliente;")
pros = select("select id from profissional;")

# data inicial
if select("select count(*) from venda;")[0][0] == 0:
  dat = datetime.strptime('01/08/23', '%d/%m/%y')
else:
  dat = select("select max(time_stamp) from venda;")[0][0]
  dat = datetime.strptime(dat.strftime('%d/%m/%y'), '%d/%m/%y')

# venda_id inicial
venda_id = select("select coalesce(max(id), 0) as id from venda;")[0][0]

# período de venda
for i in range(90):
  dat += timedelta(days = 1)
  dat += timedelta(seconds = random.randrange(36000))

  # quantidade de vendas no dia
  qtd_vnd_dia = random.randrange(5)
  for j in range(qtd_vnd_dia):
    venda_id += 1
    dat += timedelta(seconds = random.randrange(14000))
    venda(clis, pros, dat, venda_id)

-- vendas, itens de venda
insert into venda (cliente_id, profissional_id, time_stamp, total) values (7, 21, '2023-08-02 11:33:33', 1066.49);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (1, 209, 209, 2, 33.10, 58.94);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 209;
update estoque_total set total = total - 2 where medicamento_id = 209;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (1, 47, 47, 3, 66.80, 675.61);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 47;
update estoque_total set total = total - 3 where medicamento_id = 47;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (1, 46, 46, 2, 82.90, 331.94);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 46;
update estoque_total set total = total - 2 where medicamento_id = 46;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (209, 'lote 186699', '2023-08-02', '2026-02-28', 16.3, 2, 2);
update estoque_total set total = total + 2 where medicamento_id = 209;

insert into venda (profissional_id, time_stamp, total) values (25, '2023-08-03 16:56:50', 717.88);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (2, 373, 373, 3, 0.00, 104.19);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 373;
update estoque_total set total = total - 3 where medicamento_id = 373;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (2, 490, 490, 1, 4.60, 47.43);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 490;
update estoque_total set total = total - 1 where medicamento_id = 490;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (2, 46, 46, 3, 56.00, 566.26);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 46;
update estoque_total set total = total - 3 where medicamento_id = 46;

insert into venda (profissional_id, time_stamp, total) values (25, '2023-08-03 17:59:53', 18.90);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (3, 43, 43, 3, 1.80, 18.90);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 43;
update estoque_total set total = total - 3 where medicamento_id = 43;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (6, 21, '2023-08-03 20:10:53', 671.42);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (4, 232, 232, 4, 27.90, 282.70);
update estoque set quant_venda = quant_venda + 4, quant_atual = quant_atual - 4 where id = 232;
update estoque_total set total = total - 4 where medicamento_id = 232;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (4, 143, 143, 2, 0.00, 388.72);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 143;
update estoque_total set total = total - 2 where medicamento_id = 143;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (5, 25, '2023-08-07 16:10:16', 542.77);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (5, 366, 366, 9, 13.30, 432.47);
update estoque set quant_venda = quant_venda + 9, quant_atual = quant_atual - 9 where id = 366;
update estoque_total set total = total - 9 where medicamento_id = 366;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (5, 232, 232, 2, 45.00, 110.30);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 232;
update estoque_total set total = total - 2 where medicamento_id = 232;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (11, 22, '2023-08-09 03:42:01', 196.83);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (6, 457, 457, 9, 110.70, 196.83);
update estoque set quant_venda = quant_venda + 9, quant_atual = quant_atual - 9 where id = 457;
update estoque_total set total = total - 9 where medicamento_id = 457;

insert into venda (profissional_id, time_stamp, total) values (24, '2023-08-09 03:58:07', 1072.68);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (7, 364, 364, 3, 2.90, 96.46);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 364;
update estoque_total set total = total - 3 where medicamento_id = 364;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (7, 439, 439, 6, 19.60, 226.22);
update estoque set quant_venda = quant_venda + 6, quant_atual = quant_atual - 6 where id = 439;
update estoque_total set total = total - 6 where medicamento_id = 439;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (7, 300, 300, 3, 0.00, 750.00);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 300;
update estoque_total set total = total - 3 where medicamento_id = 300;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (364, 'lote 665775', '2023-08-09', '2025-02-28', 14.7, 23, 23);
update estoque_total set total = total + 23 where medicamento_id = 364;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (439, 'lote 684899', '2023-08-09', '2026-08-31', 18.9, 14, 14);
update estoque_total set total = total + 14 where medicamento_id = 439;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (20, 23, '2023-08-10 06:04:42', 364.26);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (8, 106, 106, 1, 47.30, 347.14);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 106;
update estoque_total set total = total - 1 where medicamento_id = 106;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (8, 397, 397, 1, 1.00, 17.12);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 397;
update estoque_total set total = total - 1 where medicamento_id = 397;

insert into venda (profissional_id, time_stamp, total) values (24, '2023-08-11 08:34:50', 990.93);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (9, 270, 270, 3, 0.00, 990.93);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 270;
update estoque_total set total = total - 3 where medicamento_id = 270;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (270, 'lote 887289', '2023-08-11', '2026-02-28', 164.6, 9, 9);
update estoque_total set total = total + 9 where medicamento_id = 270;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (3, 25, '2023-08-13 18:21:11', 15.10);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (10, 217, 217, 2, 7.00, 15.10);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 217;
update estoque_total set total = total - 2 where medicamento_id = 217;

insert into venda (profissional_id, time_stamp, total) values (22, '2023-08-13 21:31:01', 137.50);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (11, 133, 133, 1, 4.10, 65.66);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 133;
update estoque_total set total = total - 1 where medicamento_id = 133;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (11, 128, 128, 1, 7.10, 71.84);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 128;
update estoque_total set total = total - 1 where medicamento_id = 128;

insert into venda (profissional_id, time_stamp, total) values (24, '2023-08-13 22:52:10', 735.34);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (12, 78, 78, 2, 33.70, 341.44);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 78;
update estoque_total set total = total - 2 where medicamento_id = 78;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (12, 391, 391, 3, 13.30, 253.70);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 391;
update estoque_total set total = total - 3 where medicamento_id = 391;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (12, 451, 451, 8, 13.80, 140.20);
update estoque set quant_venda = quant_venda + 8, quant_atual = quant_atual - 8 where id = 451;
update estoque_total set total = total - 8 where medicamento_id = 451;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (13, 24, '2023-08-14 01:35:55', 616.83);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (13, 488, 488, 4, 59.00, 137.92);
update estoque set quant_venda = quant_venda + 4, quant_atual = quant_atual - 4 where id = 488;
update estoque_total set total = total - 4 where medicamento_id = 488;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (13, 343, 343, 1, 1.80, 29.64);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 343;
update estoque_total set total = total - 1 where medicamento_id = 343;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (13, 189, 189, 3, 174.70, 449.27);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 189;
update estoque_total set total = total - 3 where medicamento_id = 189;

insert into venda (profissional_id, time_stamp, total) values (24, '2023-08-15 07:53:45', 1350.88);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (14, 28, 28, 4, 19.10, 618.50);
update estoque set quant_venda = quant_venda + 4, quant_atual = quant_atual - 4 where id = 28;
update estoque_total set total = total - 4 where medicamento_id = 28;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (14, 21, 21, 2, 56.60, 572.90);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 21;
update estoque_total set total = total - 2 where medicamento_id = 21;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (14, 177, 177, 2, 3.20, 159.48);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 177;
update estoque_total set total = total - 2 where medicamento_id = 177;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (21, 'lote 956276', '2023-08-15', '2025-08-31', 128.5, 3, 3);
update estoque_total set total = total + 3 where medicamento_id = 21;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (8, 23, '2023-08-16 17:31:37', 177.52);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (15, 436, 436, 3, 19.70, 177.52);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 436;
update estoque_total set total = total - 3 where medicamento_id = 436;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (12, 21, '2023-08-16 21:18:26', 111.37);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (16, 193, 193, 1, 57.30, 111.37);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 193;
update estoque_total set total = total - 1 where medicamento_id = 193;

insert into venda (profissional_id, time_stamp, total) values (22, '2023-08-16 21:20:06', 312.62);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (17, 457, 457, 1, 1.00, 33.17);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 457;
update estoque_total set total = total - 1 where medicamento_id = 457;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (17, 318, 318, 5, 0.00, 279.45);
update estoque set quant_venda = quant_venda + 5, quant_atual = quant_atual - 5 where id = 318;
update estoque_total set total = total - 5 where medicamento_id = 318;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (12, 25, '2023-08-18 00:49:04', 173.79);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (18, 111, 111, 2, 18.20, 60.94);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 111;
update estoque_total set total = total - 2 where medicamento_id = 111;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (18, 331, 331, 5, 7.10, 112.85);
update estoque set quant_venda = quant_venda + 5, quant_atual = quant_atual - 5 where id = 331;
update estoque_total set total = total - 5 where medicamento_id = 331;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (111, 'lote 643022', '2023-08-18', '2024-08-31', 18.8, 7, 7);
update estoque_total set total = total + 7 where medicamento_id = 111;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (14, 25, '2023-08-18 01:11:29', 890.87);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (19, 29, 29, 1, 3.00, 306.14);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 29;
update estoque_total set total = total - 1 where medicamento_id = 29;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (19, 33, 33, 3, 119.70, 584.73);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 33;
update estoque_total set total = total - 3 where medicamento_id = 33;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (18, 24, '2023-08-21 16:25:38', 205.70);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (20, 26, 26, 1, 115.70, 205.70);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 26;
update estoque_total set total = total - 1 where medicamento_id = 26;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (26, 'lote 177533', '2023-08-21', '2025-08-31', 130.9, 6, 6);
update estoque_total set total = total + 6 where medicamento_id = 26;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (1, 23, '2023-08-21 19:16:46', 768.07);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (21, 429, 429, 7, 24.20, 148.77);
update estoque set quant_venda = quant_venda + 7, quant_atual = quant_atual - 7 where id = 429;
update estoque_total set total = total - 7 where medicamento_id = 429;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (21, 316, 316, 5, 278.20, 619.30);
update estoque set quant_venda = quant_venda + 5, quant_atual = quant_atual - 5 where id = 316;
update estoque_total set total = total - 5 where medicamento_id = 316;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (12, 21, '2023-08-21 21:13:07', 1031.22);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (22, 139, 139, 3, 359.50, 562.52);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 139;
update estoque_total set total = total - 3 where medicamento_id = 139;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (22, 473, 473, 5, 78.60, 167.20);
update estoque set quant_venda = quant_venda + 5, quant_atual = quant_atual - 5 where id = 473;
update estoque_total set total = total - 5 where medicamento_id = 473;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (22, 219, 219, 5, 162.30, 301.50);
update estoque set quant_venda = quant_venda + 5, quant_atual = quant_atual - 5 where id = 219;
update estoque_total set total = total - 5 where medicamento_id = 219;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (139, 'lote 207847', '2023-08-21', '2025-02-28', 140.2, 6, 6);
update estoque_total set total = total + 6 where medicamento_id = 139;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (473, 'lote 630689', '2023-08-21', '2025-08-31', 17.9, 10, 10);
update estoque_total set total = total + 10 where medicamento_id = 473;
insert into estoque (medicamento_id, lote, data, validade, preco, quant_inicial, quant_atual) values (219, 'lote 778778', '2023-08-21', '2026-08-31', 34.9, 18, 18);
update estoque_total set total = total + 18 where medicamento_id = 219;

insert into venda (profissional_id, time_stamp, total) values (24, '2023-08-23 02:46:40', 1085.73);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (23, 483, 483, 4, 10.00, 190.84);
update estoque set quant_venda = quant_venda + 4, quant_atual = quant_atual - 4 where id = 483;
update estoque_total set total = total - 4 where medicamento_id = 483;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (23, 335, 335, 7, 1.70, 176.94);
update estoque set quant_venda = quant_venda + 7, quant_atual = quant_atual - 7 where id = 335;
update estoque_total set total = total - 7 where medicamento_id = 335;
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (23, 14, 14, 5, 62.40, 717.95);
update estoque set quant_venda = quant_venda + 5, quant_atual = quant_atual - 5 where id = 14;
update estoque_total set total = total - 5 where medicamento_id = 14;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (20, 24, '2023-08-23 06:00:28', 51.74);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (24, 445, 445, 4, 21.10, 51.74);
update estoque set quant_venda = quant_venda + 4, quant_atual = quant_atual - 4 where id = 445;
update estoque_total set total = total - 4 where medicamento_id = 445;

insert into venda (profissional_id, time_stamp, total) values (23, '2023-08-23 08:35:42', 301.28);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (25, 460, 460, 8, 0.00, 301.28);
update estoque set quant_venda = quant_venda + 8, quant_atual = quant_atual - 8 where id = 460;
update estoque_total set total = total - 8 where medicamento_id = 460;

insert into venda (cliente_id, profissional_id, time_stamp, total) values (11, 23, '2023-08-24 19:12:13', 557.37);
insert into itens_venda (venda_id, medicamento_id, estoque_id, quantidade, desconto, total) values (26, 49, 49, 1, 28.20, 113.22);