In [112]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [113]:
# CRIA FUNÇÕES DE ACESSO AO BANCO DE DADOS
import psycopg2

# cria conexão
def conn():
  con = psycopg2.connect(
    database = "drogasystem", 
    user = "oscar", 
    password = "oscar", 
    host = "127.0.0.1", 
    port = "5432")
  cur = con.cursor()
  return con, cur

# faz selects
def select(sql):
  all = []
  con, cur = conn()
  cur.execute(sql)
  all = cur.fetchall()
  cur.close()
  con.close()
  return all

# executa inserts e updates
def exec(sql):
  try:
    con, cur = conn()
    cur.execute(sql)
    con.commit()
  except (Exception, psycopg2.Error) as error:
    if cur == None: cur.rollback()
    print("Error:", error)
  finally:
    if cur: cur.close()
    if con: con.close()

In [114]:
# CRIA DATAFRAME DA TABELA DE MEDICAMENTO
cols = ["ID", "LABORATORIO_ID", "NOME", "SUBSTANCIA", "DOSAGEM", "APRESENTACAO", 
        "TIPO", "CONTROLE", "QUANTIDADE", "GGREM", "CLASSE", "PRECO"]
sql = f"select {','.join(cols)} from medicamento order by 1;"
df_medicamento = pd.DataFrame(select(sql), columns=cols)
df_medicamento.head()

,ID,LABORATORIO_ID,NOME,SUBSTANCIA,DOSAGEM,APRESENTACAO,TIPO,CONTROLE,QUANTIDADE,GGREM,CLASSE,PRECO
0,1,1,AMPICILINA,AMPICILINA,50 MG/ML,Líquido,Genérico,AM,150 ML,507701907133117,PENICILINAS ORAIS DE AMPLO ESPECTRO,74.11
1,2,2,NESINA MET,BENZOATO DE ALOGLIPTINA;CLORIDRATO DE METFORMINA,"(12,5 + 1000,0) MG",Sólido,Novo,Liberado,60,501115110025705,ASSOCIAÇÕES DE INIBIDORES DPP-IV COM BIGUANIDAS,303.77
2,3,3,TEGRETOL,CARBAMAZEPINA,200 MG,Sólido,Novo,C1,60,526515003110311,ANTIEPILÉPTICOS,89.22
3,4,4,TRELIM,CLORIDRATO DE SERTRALINA,100 MG,Sólido,Similar,C1,60,528519120163307,ANTIDEPRESSIVOS SSRI,401.24
4,5,5,ZETERINA,EZETIMIBA,10 MG,Sólido,Similar,Liberado,60,543817070024603,TODOS OUTROS REGULADORES DE COLESTEROL E TRIGL...,277.35

In [115]:
# CRIA DATAFRAME DO EXCEL
df_excel = pd.read_excel("cmed_final_v3.xlsx"
          ).filter(items=[4, 11, "Probabilidade", "Validade"]
          ).rename(columns={4: "GGREM", 11: "CUSTO", "Probabilidade": "PROBABILIDADE", "Validade": "VALIDADE"})
df_excel.head()

             GGREM   CUSTO  PROBABILIDADE  VALIDADE
0  507701907133117   53.61            2.5       180
1  501115110025705  228.00            2.5       180
2  526515003110311   64.54            2.5       180
3  528519120163307  290.24            2.5       180
4  543817070024603  200.62            2.5       180

In [116]:
# CRIA DATAFRAME DA TABELA DE CLIENTE
df_cliente = pd.DataFrame(select("select id from cliente;"), columns=["ID"])
df_cliente.head()

   ID
0   1
1   2
2   3
3   4
4   5

In [117]:
# CRIA DATAFRAME DA TABELA DE PROFISSIONAL
df_profissional = pd.DataFrame(select("select id from profissional;"), columns=["ID"])
df_profissional.head()

   ID
0  21
1  22
2  23
3  24
4  25

In [118]:
# CRIA FUNÇÃO INSERE ESTOQUE
def insert_estoque(i, data):
  # acessa medicamento_id
  medicamento_id = int(df_medicamento.loc[i, "ID"])

  # cria lote
  lote = f"lote {random.randrange(0, 999999):06d}"

  # procura linha do excel com base no ggrem
  excel = df_excel[df_excel["GGREM"] == df_medicamento.loc[i, "GGREM"]].reset_index(drop=True)

  # acessa custo
  custo = float(excel["CUSTO"][0])

  # calcula data da validade
  validade = int(excel["VALIDADE"][0])
  validade = data + timedelta(days = validade)
  
  # calcula quant_inicial
  probabilidade = float(excel["PROBABILIDADE"][0])
  # quant_inicial = random.randrange(10, quantidade, 10)
  quant_inicial = int(probabilidade / 10 + 1) * 10

  # gera insert do estoque
  sql = "insert into estoque values "
  sql += f"(default, {medicamento_id}, '{lote}', '{data}', '{validade}', {custo}, {quant_inicial}, 0, {quant_inicial}); \n"

  # gera insert ou update do estoque_total
  if select(f"select count(*) from estoque_total where medicamento_id = {medicamento_id};")[0][0] == 0:
    minimo = 5 if probabilidade < 50 else 10
    sql += f"insert into estoque_total values (default, {medicamento_id}, {quant_inicial}, {minimo}, 9999); "
  else:
    sql += f"update estoque_total set total = total + {quant_inicial} where medicamento_id = {medicamento_id}; "
    
  return sql + "\n"

In [119]:
# CRIA DATAFRAME DA TABELA DE ESTOQUE
excel = []
for i in range(1, df_excel.shape[0]):
  excel.append(f"select {df_excel.loc[i, 'GGREM']} ggrem, {df_excel.loc[i, 'PROBABILIDADE']} probabilidade")
excel = ' union '.join(excel)

cols = ["ESTOQUE_ID", "MEDICAMENTO_ID", "QUANT_ATUAL", "GGREM", 
        "PRECO", "CONTROLE", "PROBABILIDADE"]

# produtos em estoque
sql_excel  = "select estoque.id, estoque.medicamento_id, estoque.quant_atual, "
sql_excel += "medicamento.ggrem, medicamento.preco, medicamento.controle, "
sql_excel += "excel.probabilidade "
sql_excel += "from estoque "
sql_excel += "inner join medicamento on medicamento.id = estoque.medicamento_id "
sql_excel += f"inner join ({excel}) excel on excel.ggrem = medicamento.ggrem "

sql_excel += "where quant_atual > 0 "
sql_excel += "and estoque.id in (select min(id) from estoque "
sql_excel += "where quant_atual > 0 group by medicamento_id) "
sql_excel += "order by 1;"

def tabela_estoque():
  global df_estoque
  df_estoque = pd.DataFrame(select(sql_excel), columns=cols)
  df_estoque["PROBABILIDADE"] = df_estoque["PROBABILIDADE"].astype(float)

In [120]:
# CRIA FUNÇÃO INSERE VENDA
def insert_venda(data_hora, venda_id):
  sql = ""
  totais = 0

  # cliente e profissional
  cliente_id = "null"
  profissional_id = "null"
  if random.randrange(10) > 5:
    cliente_id = df_cliente.loc[random.choice(df_cliente.index), 'ID']

  # atualiza df estoque a cada venda
  tabela_estoque()

  quantidade_itens_venda = random.randrange(3) + 1
  for q in range(quantidade_itens_venda):
    
    # escolha do item
    i = random.choices(df_estoque.index, weights=df_estoque["PROBABILIDADE"])[0]

    estoque_id = int(df_estoque.loc[i, "ESTOQUE_ID"])
    medicamento_id = int(df_estoque.loc[i, "MEDICAMENTO_ID"])
    quant_atual = int(df_estoque.loc[i, "QUANT_ATUAL"])
    preco = float(df_estoque.loc[i, "PRECO"])

    # verifica profissional
    controle = str(df_estoque.loc[i, "CONTROLE"])
    if controle != "Liberado": 
      profissional_id = df_profissional.loc[random.choice(df_profissional.index), 'ID']

    # calcula quantidade
    if preco > 100:
      quantidade = 1
    elif preco > 30:
      quantidade = random.randrange(2) + 1
    else:
      quantidade = random.randrange(3) + 1
    if quantidade > quant_atual: quantidade = quant_atual

    # calcula desconto
    desconto = 0
    if cliente_id != "null":
      desconto = quantidade * preco * random.randrange(10) / 100
    elif random.randrange(10) > 0:
      desconto = quantidade * preco * random.randrange(5) / 100
    desconto = int(desconto * 10) / 10
    
    # totais
    total = quantidade * preco - desconto
    totais += total

    # cria insert e update do item de venda
    sql += "insert into itens_venda values "
    sql += f"(default, {venda_id}, {medicamento_id}, {estoque_id}, {quantidade}, {desconto:.2f}, {total:.2f}); \n"
    sql += f"update estoque set quant_venda = quant_venda + {quantidade}, quant_atual = quant_atual - {quantidade} where id = {estoque_id}; \n"
    sql += f"update estoque_total set total = total - {quantidade} where medicamento_id = {medicamento_id}; \n"

    # trata estoque baixo
    estoque_total = select(f"select total, minimo from estoque_total where medicamento_id = {medicamento_id};")[0]
    if estoque_total[0] < estoque_total[1]:
      # procura índice do medicamento
      j = df_medicamento[df_medicamento["GGREM"] == df_estoque.loc[i, "GGREM"]].index[0]
      sql += insert_estoque(j, data_hora.date())

  sql = f"insert into venda values ({venda_id}, '{data_hora}', {totais:.2f}, {cliente_id}, {profissional_id}); \n" + sql
  print(sql)
  exec(sql)

In [121]:
# GERA INSERTS DO ESTOQUE INICIAL
if select("select count(*) from estoque;")[0][0] == 0:
  sql = ""
  data = datetime.today() - timedelta(days = 366)
  data = data.date()
  for i in df_medicamento.index: sql += insert_estoque(i, data)
  print(sql)
  exec(sql)

insert into estoque values (default, 1, 'lote 481763', '2022-11-02', '2023-05-01', 53.61, 10, 0, 10);
insert into estoque_total values (default, 1, 10, 5, 9999);
insert into estoque values (default, 2, 'lote 674269', '2022-11-02', '2023-05-01', 228.0, 10, 0, 10);
insert into estoque_total values (default, 2, 10, 5, 9999);
insert into estoque values (default, 3, 'lote 141171', '2022-11-02', '2023-05-01', 64.54, 10, 0, 10);
insert into estoque_total values (default, 3, 10, 5, 9999);
insert into estoque values (default, 4, 'lote 948775', '2022-11-02', '2023-05-01', 290.24, 10, 0, 10);
insert into estoque_total values (default, 4, 10, 5, 9999);
insert into estoque values (default, 5, 'lote 374442', '2022-11-02', '2023-05-01', 200.62, 10, 0, 10);
insert into estoque_total values (default, 5, 10, 5, 9999);
insert into estoque values (default, 6, 'lote 329376', '2022-11-02', '2023-05-01', 199.18, 10, 0, 10);
insert into estoque_total values (default, 6, 10, 5, 9999);
insert into estoque values (default, 7, 'lote 242909', '2022-11-02', '2023-05-01', 285.95, 10, 0, 10);
insert into estoque_total values (default, 7, 10, 5, 9999);
insert into estoque values (default, 8, 'lote 380991', '2022-11-02', '2023-05-01', 115.54, 10, 0, 10);
insert into estoque_total values (default, 8, 10, 5, 9999);
insert into estoque values (default, 9, 'lote 153691', '2022-11-02', '2023-05-01', 226.4, 10, 0, 10);
insert into estoque_total values (default, 9, 10, 5, 9999);
insert into estoque values (default, 10, 'lote 175068', '2022-11-02', '2023-05-01', 143.43, 10, 0, 10);
insert into estoque_total values (default, 10, 10, 5, 9999);
insert into estoque values (default, 11, 'lote 938543', '2022-11-02', '2023-05-01', 91.84, 10, 0, 10);
insert into estoque_total values (default, 11, 10, 5, 9999);
insert into estoque values (default, 12, 'lote 008134', '2022-11-02', '2023-05-01', 121.26, 10, 0, 10);
insert into estoque_total values (default, 12, 10, 5, 9999);
insert into estoque values (default, 13, 'lote 333706', '2022-11-02', '2023-05-01', 117.14, 10, 0, 10);
insert into estoque_total values (default, 13, 10, 5, 9999);
insert into estoque values (default, 14, 'lote 630556', '2022-11-02', '2023-05-01', 117.14, 10, 0, 10);
insert into estoque_total values (default, 14, 10, 5, 9999);
insert into estoque values (default, 15, 'lote 119777', '2022-11-02', '2023-05-01', 172.49, 10, 0, 10);
insert into estoque_total values (default, 15, 10, 5, 9999);
insert into estoque values (default, 16, 'lote 494785', '2022-11-02', '2023-05-01', 134.32, 10, 0, 10);
insert into estoque_total values (default, 16, 10, 5, 9999);
insert into estoque values (default, 17, 'lote 446388', '2022-11-02', '2023-05-01', 60.32, 10, 0, 10);
insert into estoque_total values (default, 17, 10, 5, 9999);
insert into estoque values (default, 18, 'lote 078805', '2022-11-02', '2023-05-01', 51.66, 10, 0, 10);
insert into estoque_total values (default, 18, 10, 5, 9999);
insert into estoque values (default, 19, 'lote 906223', '2022-11-02', '2023-05-01', 78.67, 10, 0, 10);
insert into estoque_total values (default, 19, 10, 5, 9999);
insert into estoque values (default, 20, 'lote 716143', '2022-11-02', '2023-05-01', 157.68, 10, 0, 10);
insert into estoque_total values (default, 20, 10, 5, 9999);
insert into estoque values (default, 21, 'lote 325918', '2022-11-02', '2023-05-01', 227.68, 10, 0, 10);
insert into estoque_total values (default, 21, 10, 5, 9999);
insert into estoque values (default, 22, 'lote 409883', '2022-11-02', '2023-05-01', 216.99, 10, 0, 10);
insert into estoque_total values (default, 22, 10, 5, 9999);
insert into estoque values (default, 23, 'lote 884257', '2022-11-02', '2023-05-01', 231.45, 10, 0, 10);
insert into estoque_total values (default, 23, 10, 5, 9999);
insert into estoque values (default, 24, 'lote 659660', '2022-11-02', '2023-05-01', 209.29, 10, 0, 10);
insert into estoque_total values (default, 24, 10, 5, 9999);
insert into estoque values (default, 25, 'lote 762504', '2022-11-02', '2023-05-01', 223.62, 10, 0, 10);
insert into estoque_total values (default, 25, 10, 5, 9999);
insert into estoque values (default, 26, 'lote 464109', '2022-11-02', '2023-05-01', 232.49, 10, 0, 10);
insert into estoque_total values (default, 26, 10, 5, 9999);
insert into estoque values (default, 27, 'lote 867950', '2022-11-02', '2023-05-01', 246.9, 10, 0, 10);
insert into estoque_total values (default, 27, 10, 5, 9999);
insert into estoque values (default, 28, 'lote 306264', '2022-11-02', '2023-05-01', 115.3, 10, 0, 10);
insert into estoque_total values (default, 28, 10, 5, 9999);
insert into estoque values (default, 29, 'lote 877567', '2022-11-02', '2023-05-01', 223.62, 10, 0, 10);
insert into estoque_total values (default, 29, 10, 5, 9999);
insert into estoque values (default, 30, 'lote 922340', '2022-11-02', '2023-05-01', 99.59, 10, 0, 10);
insert into estoque_total values (default, 30, 10, 5, 9999);
insert into estoque values (default, 31, 'lote 742782', '2022-11-02', '2023-05-01', 285.32, 10, 0, 10);
insert into estoque_total values (default, 31, 10, 5, 9999);
insert into estoque values (default, 32, 'lote 567954', '2022-11-02', '2023-05-01', 220.21, 10, 0, 10);
insert into estoque_total values (default, 32, 10, 5, 9999);
insert into estoque values (default, 33, 'lote 228680', '2022-11-02', '2023-05-01', 169.85, 10, 0, 10);
insert into estoque_total values (default, 33, 10, 5, 9999);
insert into estoque values (default, 34, 'lote 647446', '2022-11-02', '2023-05-01', 237.59, 10, 0, 10);
insert into estoque_total values (default, 34, 10, 5, 9999);
insert into estoque values (default, 35, 'lote 487245', '2022-11-02', '2023-05-01', 176.85, 10, 0, 10);
insert into estoque_total values (default, 35, 10, 5, 9999);
insert into estoque values (default, 36, 'lote 541302', '2022-11-02', '2023-05-01', 236.13, 10, 0, 10);
insert into estoque_total values (default, 36, 10, 5, 9999);
insert into estoque values (default, 37, 'lote 564889', '2022-11-02', '2023-05-01', 198.54, 10, 0, 10);
insert into estoque_total values (default, 37, 10, 5, 9999);
insert into estoque values (default, 38, 'lote 840149', '2022-11-02', '2023-05-01', 158.18, 10, 0, 10);
insert into estoque_total values (default, 38, 10, 5, 9999);
insert into estoque values (default, 39, 'lote 769598', '2022-11-02', '2023-05-01', 174.24, 10, 0, 10);
insert into estoque_total values (default, 39, 10, 5, 9999);
insert into estoque values (default, 40, 'lote 128567', '2022-11-02', '2023-05-01', 25.67, 10, 0, 10);
insert into estoque_total values (default, 40, 10, 5, 9999);
insert into estoque values (default, 41, 'lote 794706', '2022-11-02', '2023-05-01', 188.09, 10, 0, 10);
insert into estoque_total values (default, 41, 10, 5, 9999);
insert into estoque values (default, 42, 'lote 068368', '2022-11-02', '2023-05-01', 115.73, 10, 0, 10);
insert into estoque_total values (default, 42, 10, 5, 9999);
insert into estoque values (default, 43, 'lote 189546', '2022-11-02', '2023-05-01', 4.99, 10, 0, 10);
insert into estoque_total values (default, 43, 10, 5, 9999);
insert into estoque values (default, 44, 'lote 561266', '2022-11-02', '2023-05-01', 94.56, 10, 0, 10);
insert into estoque_total values (default, 44, 10, 5, 9999);
insert into estoque values (default, 45, 'lote 351537', '2022-11-02', '2023-05-01', 51.05, 10, 0, 10);
insert into estoque_total values (default, 45, 10, 5, 9999);
insert into estoque values (default, 46, 'lote 591688', '2022-11-02', '2023-05-01', 150.04, 10, 0, 10);
insert into estoque_total values (default, 46, 10, 5, 9999);
insert into estoque values (default, 47, 'lote 752672', '2022-11-02', '2023-05-01', 179.01, 10, 0, 10);
insert into estoque_total values (default, 47, 10, 5, 9999);
insert into estoque values (default, 48, 'lote 303569', '2022-11-02', '2023-05-01', 138.4, 10, 0, 10);
insert into estoque_total values (default, 48, 10, 5, 9999);
insert into estoque values (default, 49, 'lote 879410', '2022-11-02', '2023-05-01', 102.3, 10, 0, 10);
insert into estoque_total values (default, 49, 10, 5, 9999);
insert into estoque values (default, 50, 'lote 641761', '2022-11-02', '2023-05-01', 215.54, 10, 0, 10);
insert into estoque_total values (default, 50, 10, 5, 9999);
insert into estoque values (default, 51, 'lote 489123', '2022-11-02', '2023-05-01', 51.74, 10, 0, 10);
insert into estoque_total values (default, 51, 10, 5, 9999);
insert into estoque values (default, 52, 'lote 366119', '2022-11-02', '2023-05-01', 64.36, 10, 0, 10);
insert into estoque_total values (default, 52, 10, 5, 9999);
insert into estoque values (default, 53, 'lote 728543', '2022-11-02', '2023-05-01', 88.95, 10, 0, 10);
insert into estoque_total values (default, 53, 10, 5, 9999);
insert into estoque values (default, 54, 'lote 044315', '2022-11-02', '2023-05-01', 180.78, 10, 0, 10);
insert into estoque_total values (default, 54, 10, 5, 9999);
insert into estoque values (default, 55, 'lote 202232', '2022-11-02', '2023-05-01', 105.39, 10, 0, 10);
insert into estoque_total values (default, 55, 10, 5, 9999);
insert into estoque values (default, 56, 'lote 914072', '2022-11-02', '2023-05-01', 321.1, 10, 0, 10);
insert into estoque_total values (default, 56, 10, 5, 9999);
insert into estoque values (default, 57, 'lote 257840', '2022-11-02', '2023-05-01', 105.63, 10, 0, 10);
insert into estoque_total values (default, 57, 10, 5, 9999);
insert into estoque values (default, 58, 'lote 723482', '2022-11-02', '2023-05-01', 133.4, 10, 0, 10);
insert into estoque_total values (default, 58, 10, 5, 9999);
insert into estoque values (default, 59, 'lote 740644', '2022-11-02', '2023-05-01', 68.7, 10, 0, 10);
insert into estoque_total values (default, 59, 10, 5, 9999);
insert into estoque values (default, 60, 'lote 530479', '2022-11-02', '2023-05-01', 121.63, 10, 0, 10);
insert into estoque_total values (default, 60, 10, 5, 9999);
insert into estoque values (default, 61, 'lote 809150', '2022-11-02', '2023-05-01', 91.8, 10, 0, 10);
insert into estoque_total values (default, 61, 10, 5, 9999);
insert into estoque values (default, 62, 'lote 364192', '2022-11-02', '2023-05-01', 217.11, 10, 0, 10);
insert into estoque_total values (default, 62, 10, 5, 9999);
insert into estoque values (default, 63, 'lote 015518', '2022-11-02', '2023-05-01', 81.79, 10, 0, 10);
insert into estoque_total values (default, 63, 10, 5, 9999);
insert into estoque values (default, 64, 'lote 624249', '2022-11-02', '2023-05-01', 95.79, 10, 0, 10);
insert into estoque_total values (default, 64, 10, 5, 9999);
insert into estoque values (default, 65, 'lote 321925', '2022-11-02', '2023-05-01', 55.85, 10, 0, 10);
insert into estoque_total values (default, 65, 10, 5, 9999);
insert into estoque values (default, 66, 'lote 306386', '2022-11-02', '2023-05-01', 36.33, 10, 0, 10);
insert into estoque_total values (default, 66, 10, 5, 9999);
insert into estoque values (default, 67, 'lote 880161', '2022-11-02', '2023-05-01', 90.13, 10, 0, 10);
insert into estoque_total values (default, 67, 10, 5, 9999);
insert into estoque values (default, 68, 'lote 920490', '2022-11-02', '2023-05-01', 107.59, 10, 0, 10);
insert into estoque_total values (default, 68, 10, 5, 9999);
insert into estoque values (default, 69, 'lote 214042', '2022-11-02', '2023-05-01', 123.41, 10, 0, 10);
insert into estoque_total values (default, 69, 10, 5, 9999);
insert into estoque values (default, 70, 'lote 547754', '2022-11-02', '2023-05-01', 85.84, 10, 0, 10);
insert into estoque_total values (default, 70, 10, 5, 9999);
insert into estoque values (default, 71, 'lote 381801', '2022-11-02', '2023-05-01', 158.76, 10, 0, 10);
insert into estoque_total values (default, 71, 10, 5, 9999);
insert into estoque values (default, 72, 'lote 364873', '2022-11-02', '2023-05-01', 13.2, 10, 0, 10);
insert into estoque_total values (default, 72, 10, 5, 9999);
insert into estoque values (default, 73, 'lote 721604', '2022-11-02', '2023-05-01', 37.78, 10, 0, 10);
insert into estoque_total values (default, 73, 10, 5, 9999);
insert into estoque values (default, 74, 'lote 847707', '2022-11-02', '2023-05-01', 74.09, 20, 0, 20);
insert into estoque_total values (default, 74, 20, 5, 9999);
insert into estoque values (default, 75, 'lote 975452', '2022-11-02', '2023-05-01', 200.98, 20, 0, 20);
insert into estoque_total values (default, 75, 20, 5, 9999);
insert into estoque values (default, 76, 'lote 809477', '2022-11-02', '2023-05-01', 107.59, 20, 0, 20);
insert into estoque_total values (default, 76, 20, 5, 9999);
insert into estoque values (default, 77, 'lote 513177', '2022-11-02', '2023-05-01', 171.56, 20, 0, 20);
insert into estoque_total values (default, 77, 20, 5, 9999);
insert into estoque values (default, 78, 'lote 404618', '2022-11-02', '2023-05-01', 135.68, 20, 0, 20);
insert into estoque_total values (default, 78, 20, 5, 9999);
insert into estoque values (default, 79, 'lote 770097', '2022-11-02', '2023-05-01', 91.15, 20, 0, 20);
insert into estoque_total values (default, 79, 20, 5, 9999);
insert into estoque values (default, 80, 'lote 125752', '2022-11-02', '2023-05-01', 171.49, 20, 0, 20);
insert into estoque_total values (default, 80, 20, 5, 9999);
insert into estoque values (default, 81, 'lote 150583', '2022-11-02', '2023-05-01', 140.15, 20, 0, 20);
insert into estoque_total values (default, 81, 20, 5, 9999);
insert into estoque values (default, 82, 'lote 136026', '2022-11-02', '2023-05-01', 204.82, 20, 0, 20);
insert into estoque_total values (default, 82, 20, 5, 9999);
insert into estoque values (default, 83, 'lote 722374', '2022-11-02', '2023-05-01', 67.72, 20, 0, 20);
insert into estoque_total values (default, 83, 20, 5, 9999);
insert into estoque values (default, 84, 'lote 624561', '2022-11-02', '2023-05-01', 53.8, 20, 0, 20);
insert into estoque_total values (default, 84, 20, 5, 9999);
insert into estoque values (default, 85, 'lote 919186', '2022-11-02', '2023-05-01', 34.96, 20, 0, 20);
insert into estoque_total values (default, 85, 20, 5, 9999);
insert into estoque values (default, 86, 'lote 991908', '2022-11-02', '2023-05-01', 104.38, 20, 0, 20);
insert into estoque_total values (default, 86, 20, 5, 9999);
insert into estoque values (default, 87, 'lote 608889', '2022-11-02', '2023-05-01', 282.46, 20, 0, 20);
insert into estoque_total values (default, 87, 20, 5, 9999);
insert into estoque values (default, 88, 'lote 517969', '2022-11-02', '2023-05-01', 119.4, 20, 0, 20);
insert into estoque_total values (default, 88, 20, 5, 9999);
insert into estoque values (default, 89, 'lote 817495', '2022-11-02', '2023-05-01', 174.12, 20, 0, 20);
insert into estoque_total values (default, 89, 20, 5, 9999);
insert into estoque values (default, 90, 'lote 908163', '2022-11-02', '2023-05-01', 13.54, 20, 0, 20);
insert into estoque_total values (default, 90, 20, 5, 9999);
insert into estoque values (default, 91, 'lote 550572', '2022-11-02', '2023-05-01', 183.83, 20, 0, 20);
insert into estoque_total values (default, 91, 20, 5, 9999);
insert into estoque values (default, 92, 'lote 549399', '2022-11-02', '2023-05-01', 36.21, 20, 0, 20);
insert into estoque_total values (default, 92, 20, 5, 9999);
insert into estoque values (default, 93, 'lote 150223', '2022-11-02', '2023-05-01', 91.51, 20, 0, 20);
insert into estoque_total values (default, 93, 20, 5, 9999);
insert into estoque values (default, 94, 'lote 613320', '2022-11-02', '2023-05-01', 231.45, 20, 0, 20);
insert into estoque_total values (default, 94, 20, 5, 9999);
insert into estoque values (default, 95, 'lote 692489', '2022-11-02', '2023-05-01', 231.68, 20, 0, 20);
insert into estoque_total values (default, 95, 20, 5, 9999);
insert into estoque values (default, 96, 'lote 309292', '2022-11-02', '2023-05-01', 183.76, 20, 0, 20);
insert into estoque_total values (default, 96, 20, 5, 9999);
insert into estoque values (default, 97, 'lote 288787', '2022-11-02', '2023-05-01', 206.41, 20, 0, 20);
insert into estoque_total values (default, 97, 20, 5, 9999);
insert into estoque values (default, 98, 'lote 120131', '2022-11-02', '2023-05-01', 169.3, 20, 0, 20);
insert into estoque_total values (default, 98, 20, 5, 9999);
insert into estoque values (default, 99, 'lote 210719', '2022-11-02', '2023-05-01', 220.29, 20, 0, 20);
insert into estoque_total values (default, 99, 20, 5, 9999);
insert into estoque values (default, 100, 'lote 162430', '2022-11-02', '2023-05-01', 239.6, 20, 0, 20);
insert into estoque_total values (default, 100, 20, 5, 9999);
insert into estoque values (default, 101, 'lote 594211', '2022-11-02', '2023-05-01', 239.61, 20, 0, 20);
insert into estoque_total values (default, 101, 20, 5, 9999);
insert into estoque values (default, 102, 'lote 298645', '2022-11-02', '2023-05-01', 136.35, 20, 0, 20);
insert into estoque_total values (default, 102, 20, 5, 9999);
insert into estoque values (default, 103, 'lote 019518', '2022-11-02', '2023-05-01', 85.95, 20, 0, 20);
insert into estoque_total values (default, 103, 20, 5, 9999);
insert into estoque values (default, 104, 'lote 724450', '2022-11-02', '2023-05-01', 47.65, 20, 0, 20);
insert into estoque_total values (default, 104, 20, 5, 9999);
insert into estoque values (default, 105, 'lote 237900', '2022-11-02', '2023-05-01', 164.62, 20, 0, 20);
insert into estoque_total values (default, 105, 20, 5, 9999);
insert into estoque values (default, 106, 'lote 484944', '2022-11-02', '2023-05-01', 285.32, 20, 0, 20);
insert into estoque_total values (default, 106, 20, 5, 9999);
insert into estoque values (default, 107, 'lote 228751', '2022-11-02', '2023-05-01', 98.78, 20, 0, 20);
insert into estoque_total values (default, 107, 20, 5, 9999);
insert into estoque values (default, 108, 'lote 611353', '2022-11-02', '2023-05-01', 152.54, 20, 0, 20);
insert into estoque_total values (default, 108, 20, 5, 9999);
insert into estoque values (default, 109, 'lote 152471', '2022-11-02', '2023-05-01', 115.77, 20, 0, 20);
insert into estoque_total values (default, 109, 20, 5, 9999);
insert into estoque values (default, 110, 'lote 313992', '2022-11-02', '2023-05-01', 23.6, 20, 0, 20);
insert into estoque_total values (default, 110, 20, 5, 9999);
insert into estoque values (default, 111, 'lote 578743', '2022-11-02', '2023-05-01', 28.62, 20, 0, 20);
insert into estoque_total values (default, 111, 20, 5, 9999);
insert into estoque values (default, 112, 'lote 604465', '2022-11-02', '2023-05-01', 14.13, 20, 0, 20);
insert into estoque_total values (default, 112, 20, 5, 9999);
insert into estoque values (default, 113, 'lote 786038', '2022-11-02', '2023-05-01', 21.09, 20, 0, 20);
insert into estoque_total values (default, 113, 20, 5, 9999);
insert into estoque values (default, 114, 'lote 668271', '2022-11-02', '2023-05-01', 32.29, 20, 0, 20);
insert into estoque_total values (default, 114, 20, 5, 9999);
insert into estoque values (default, 115, 'lote 786137', '2022-11-02', '2023-05-01', 197.46, 20, 0, 20);
insert into estoque_total values (default, 115, 20, 5, 9999);
insert into estoque values (default, 116, 'lote 798563', '2022-11-02', '2023-05-01', 5.6, 20, 0, 20);
insert into estoque_total values (default, 116, 20, 5, 9999);
insert into estoque values (default, 117, 'lote 936673', '2022-11-02', '2023-05-01', 5.6, 20, 0, 20);
insert into estoque_total values (default, 117, 20, 5, 9999);
insert into estoque values (default, 118, 'lote 784939', '2022-11-02', '2023-05-01', 29.35, 20, 0, 20);
insert into estoque_total values (default, 118, 20, 5, 9999);
insert into estoque values (default, 119, 'lote 986190', '2022-11-02', '2023-05-01', 112.1, 20, 0, 20);
insert into estoque_total values (default, 119, 20, 5, 9999);
insert into estoque values (default, 120, 'lote 071809', '2022-11-02', '2023-05-01', 24.09, 20, 0, 20);
insert into estoque_total values (default, 120, 20, 5, 9999);
insert into estoque values (default, 121, 'lote 872045', '2022-11-02', '2023-05-01', 48.41, 20, 0, 20);
insert into estoque_total values (default, 121, 20, 5, 9999);

In [122]:
# data inicial das vendas
data = select("select coalesce(max(time_stamp), current_date - 366) from venda;")[0][0]

# venda_id inicial
venda_id = select("select coalesce(max(id), 0) as id from venda;")[0][0]

sql = ""

# período de venda
for i in range(365):
  data += timedelta(days = 1)

  # começa as vendas pela manhã
  data_hora = data + timedelta(hours = 6)

  # quantidade de vendas no dia
  qtd_vnd_dia = random.randrange(14)
  f = 10000 if qtd_vnd_dia < 8 else 5000
  for j in range(qtd_vnd_dia):
    venda_id += 1

    # intervalo entre cada venda
    data_hora += timedelta(seconds = random.randrange(f))

    insert_venda(data_hora, venda_id)

insert into venda values (1, '2022-11-03 06:02:32', 43.40, null, null);
insert into itens_venda values (default, 1, 376, 376, 3, 1.30, 43.40);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 376;
update estoque_total set total = total - 3 where medicamento_id = 376;

insert into venda values (2, '2022-11-03 08:12:56', 192.26, 4, null);
insert into itens_venda values (default, 2, 255, 255, 1, 3.50, 47.22);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 255;
update estoque_total set total = total - 1 where medicamento_id = 255;
insert into itens_venda values (default, 2, 418, 418, 2, 0.50, 54.80);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 418;
update estoque_total set total = total - 2 where medicamento_id = 418;
insert into itens_venda values (default, 2, 127, 127, 2, 0.90, 90.24);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 127;
update estoque_total set total = total - 2 where medicamento_id = 127;

insert into venda values (3, '2022-11-04 06:35:20', 58.01, 6, null);
insert into itens_venda values (default, 3, 297, 297, 1, 0.50, 58.01);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 297;
update estoque_total set total = total - 1 where medicamento_id = 297;

insert into venda values (4, '2022-11-04 08:08:33', 172.37, null, null);
insert into itens_venda values (default, 4, 394, 394, 3, 2.50, 83.39);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 394;
update estoque_total set total = total - 3 where medicamento_id = 394;
insert into itens_venda values (default, 4, 454, 454, 1, 0.00, 88.98);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 454;
update estoque_total set total = total - 1 where medicamento_id = 454;

insert into venda values (5, '2022-11-04 08:40:22', 69.90, null, null);
insert into itens_venda values (default, 5, 314, 314, 1, 0.80, 20.19);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 314;
update estoque_total set total = total - 1 where medicamento_id = 314;
insert into itens_venda values (default, 5, 483, 483, 1, 0.50, 49.71);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 483;
update estoque_total set total = total - 1 where medicamento_id = 483;

insert into venda values (6, '2022-11-04 09:15:41', 158.89, 14, null);
insert into itens_venda values (default, 6, 435, 435, 1, 7.80, 90.22);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 435;
update estoque_total set total = total - 1 where medicamento_id = 435;
insert into itens_venda values (default, 6, 501, 501, 3, 0.60, 68.67);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 501;
update estoque_total set total = total - 3 where medicamento_id = 501;

insert into venda values (7, '2022-11-04 09:40:52', 288.94, 6, null);
insert into itens_venda values (default, 7, 139, 139, 1, 18.40, 288.94);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 139;
update estoque_total set total = total - 1 where medicamento_id = 139;

insert into venda values (8, '2022-11-04 11:06:55', 18.00, 11, null);
insert into itens_venda values (default, 8, 453, 453, 3, 1.50, 18.00);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 453;
update estoque_total set total = total - 3 where medicamento_id = 453;

insert into venda values (9, '2022-11-04 11:26:50', 45.71, 10, null);
insert into itens_venda values (default, 9, 483, 483, 1, 4.50, 45.71);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 483;
update estoque_total set total = total - 1 where medicamento_id = 483;

insert into venda values (10, '2022-11-05 06:19:18', 80.26, null, 24);
insert into itens_venda values (default, 10, 188, 188, 2, 1.20, 42.02);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 188;
update estoque_total set total = total - 2 where medicamento_id = 188;
insert into itens_venda values (default, 10, 427, 427, 3, 0.70, 38.24);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 427;
update estoque_total set total = total - 3 where medicamento_id = 427;

insert into venda values (11, '2022-11-05 07:03:38', 324.30, 14, null);
insert into itens_venda values (default, 11, 396, 396, 1, 17.00, 324.30);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 396;
update estoque_total set total = total - 1 where medicamento_id = 396;

insert into venda values (12, '2022-11-05 07:07:07', 49.71, null, null);
insert into itens_venda values (default, 12, 483, 483, 1, 0.50, 49.71);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 483;
update estoque_total set total = total - 1 where medicamento_id = 483;

insert into venda values (13, '2022-11-05 07:40:43', 447.27, null, null);
insert into itens_venda values (default, 13, 387, 387, 1, 1.90, 63.20);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 387;
update estoque_total set total = total - 1 where medicamento_id = 387;
insert into itens_venda values (default, 13, 501, 501, 2, 1.80, 44.38);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 501;
update estoque_total set total = total - 2 where medicamento_id = 501;
insert into itens_venda values (default, 13, 168, 168, 1, 3.40, 339.69);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 168;
update estoque_total set total = total - 1 where medicamento_id = 168;

insert into venda values (14, '2022-11-05 08:46:29', 212.56, 2, 25);
insert into itens_venda values (default, 14, 246, 246, 2, 7.40, 116.10);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 246;
update estoque_total set total = total - 2 where medicamento_id = 246;
insert into itens_venda values (default, 14, 339, 339, 2, 4.50, 59.86);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 339;
update estoque_total set total = total - 2 where medicamento_id = 339;
insert into itens_venda values (default, 14, 414, 414, 1, 1.90, 36.60);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 414;
update estoque_total set total = total - 1 where medicamento_id = 414;

insert into venda values (15, '2022-11-05 09:58:44', 100.09, null, null);
insert into itens_venda values (default, 15, 501, 501, 3, 2.00, 67.27);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 501;
update estoque_total set total = total - 3 where medicamento_id = 501;
insert into itens_venda values (default, 15, 364, 364, 1, 0.30, 32.82);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 364;
update estoque_total set total = total - 1 where medicamento_id = 364;

insert into venda values (16, '2022-11-05 11:08:24', 116.04, 1, null);
insert into itens_venda values (default, 16, 458, 458, 2, 3.60, 68.80);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 458;
update estoque_total set total = total - 2 where medicamento_id = 458;
insert into itens_venda values (default, 16, 427, 427, 2, 1.20, 24.76);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 427;
update estoque_total set total = total - 2 where medicamento_id = 427;
insert into itens_venda values (default, 16, 493, 493, 3, 0.20, 22.48);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 493;
update estoque_total set total = total - 3 where medicamento_id = 493;

insert into venda values (17, '2022-11-05 11:12:48', 148.73, null, null);
insert into itens_venda values (default, 17, 471, 471, 1, 0.10, 17.79);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 471;
update estoque_total set total = total - 1 where medicamento_id = 471;
insert into itens_venda values (default, 17, 172, 172, 1, 5.40, 130.94);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 172;
update estoque_total set total = total - 1 where medicamento_id = 172;

insert into venda values (18, '2022-11-05 11:28:16', 278.31, null, null);
insert into itens_venda values (default, 18, 408, 408, 1, 2.30, 114.23);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 408;
update estoque_total set total = total - 1 where medicamento_id = 408;
insert into itens_venda values (default, 18, 378, 378, 2, 2.20, 72.94);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 378;
update estoque_total set total = total - 2 where medicamento_id = 378;
insert into itens_venda values (default, 18, 127, 127, 2, 0.00, 91.14);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 127;
update estoque_total set total = total - 2 where medicamento_id = 127;

insert into venda values (19, '2022-11-05 11:44:13', 55.95, 2, null);
insert into itens_venda values (default, 19, 491, 491, 1, 0.50, 55.95);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 491;
update estoque_total set total = total - 1 where medicamento_id = 491;

insert into venda values (20, '2022-11-05 12:37:05', 13.34, null, null);
insert into itens_venda values (default, 20, 481, 481, 1, 0.00, 13.34);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 481;
update estoque_total set total = total - 1 where medicamento_id = 481;

insert into venda values (21, '2022-11-05 12:50:18', 92.13, 1, null);
insert into itens_venda values (default, 21, 432, 432, 3, 0.80, 13.30);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 432;
update estoque_total set total = total - 3 where medicamento_id = 432;
insert into itens_venda values (default, 21, 355, 355, 1, 1.80, 24.31);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 355;
update estoque_total set total = total - 1 where medicamento_id = 355;
insert into itens_venda values (default, 21, 252, 252, 2, 1.60, 54.52);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 252;
update estoque_total set total = total - 2 where medicamento_id = 252;

insert into venda values (22, '2022-11-05 13:58:05', 269.89, 16, null);
insert into itens_venda values (default, 22, 81, 81, 1, 5.80, 187.95);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 81;
update estoque_total set total = total - 1 where medicamento_id = 81;
insert into itens_venda values (default, 22, 439, 439, 2, 0.00, 81.94);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 439;
update estoque_total set total = total - 2 where medicamento_id = 439;

insert into venda values (23, '2022-11-07 06:02:25', 3.67, 14, null);
insert into itens_venda values (default, 23, 503, 503, 1, 0.00, 3.67);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 503;
update estoque_total set total = total - 1 where medicamento_id = 503;

insert into venda values (24, '2022-11-07 06:23:44', 83.52, null, null);
insert into itens_venda values (default, 24, 331, 331, 2, 0.00, 47.98);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 331;
update estoque_total set total = total - 2 where medicamento_id = 331;
insert into itens_venda values (default, 24, 397, 397, 2, 0.70, 35.54);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 397;
update estoque_total set total = total - 2 where medicamento_id = 397;

insert into venda values (25, '2022-11-07 07:30:12', 130.32, null, null);
insert into itens_venda values (default, 25, 422, 422, 3, 0.90, 47.07);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 422;
update estoque_total set total = total - 3 where medicamento_id = 422;
insert into itens_venda values (default, 25, 52, 52, 1, 2.50, 83.25);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 52;
update estoque_total set total = total - 1 where medicamento_id = 52;

insert into venda values (26, '2022-11-07 08:34:51', 71.93, null, null);
insert into itens_venda values (default, 26, 429, 429, 3, 2.20, 71.93);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 429;
update estoque_total set total = total - 3 where medicamento_id = 429;

insert into venda values (27, '2022-11-07 09:15:47', 174.70, 20, 23);
insert into itens_venda values (default, 27, 155, 155, 1, 0.40, 4.55);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 155;
update estoque_total set total = total - 1 where medicamento_id = 155;
insert into itens_venda values (default, 27, 371, 371, 1, 1.30, 136.23);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 371;
update estoque_total set total = total - 1 where medicamento_id = 371;
insert into itens_venda values (default, 27, 382, 382, 1, 0.60, 33.92);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 382;
update estoque_total set total = total - 1 where medicamento_id = 382;

insert into venda values (28, '2022-11-07 10:06:44', 270.28, null, 24);
insert into itens_venda values (default, 28, 115, 115, 1, 2.70, 270.28);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 115;
update estoque_total set total = total - 1 where medicamento_id = 115;

insert into venda values (29, '2022-11-07 10:42:41', 144.72, null, null);
insert into itens_venda values (default, 29, 456, 456, 2, 0.00, 76.92);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 456;
update estoque_total set total = total - 2 where medicamento_id = 456;
insert into itens_venda values (default, 29, 299, 299, 2, 0.60, 67.80);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 299;
update estoque_total set total = total - 2 where medicamento_id = 299;

insert into venda values (30, '2022-11-07 11:54:19', 72.50, 5, 24);
insert into itens_venda values (default, 30, 165, 165, 2, 6.30, 72.50);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 165;
update estoque_total set total = total - 2 where medicamento_id = 165;

insert into venda values (31, '2022-11-07 12:09:30', 215.08, 3, null);
insert into itens_venda values (default, 31, 249, 249, 2, 5.00, 96.70);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 249;
update estoque_total set total = total - 2 where medicamento_id = 249;
insert into itens_venda values (default, 31, 477, 477, 2, 11.70, 118.38);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 477;
update estoque_total set total = total - 2 where medicamento_id = 477;

insert into venda values (32, '2022-11-07 12:49:22', 73.13, 14, null);
insert into itens_venda values (default, 32, 251, 251, 1, 1.40, 73.13);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 251;
update estoque_total set total = total - 1 where medicamento_id = 251;

insert into venda values (33, '2022-11-07 13:57:02', 300.64, null, null);
insert into itens_venda values (default, 33, 410, 410, 1, 2.10, 104.68);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 410;
update estoque_total set total = total - 1 where medicamento_id = 410;
insert into itens_venda values (default, 33, 412, 412, 2, 3.50, 173.44);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 412;
update estoque_total set total = total - 2 where medicamento_id = 412;
insert into itens_venda values (default, 33, 431, 431, 2, 0.00, 22.52);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 431;
update estoque_total set total = total - 2 where medicamento_id = 431;

insert into venda values (34, '2022-11-08 06:22:01', 15.87, 10, null);
insert into itens_venda values (default, 34, 494, 494, 1, 0.60, 15.87);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 494;
update estoque_total set total = total - 1 where medicamento_id = 494;

insert into venda values (35, '2022-11-08 07:15:58', 168.68, null, null);
insert into itens_venda values (default, 35, 497, 497, 1, 0.00, 37.60);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 497;
update estoque_total set total = total - 1 where medicamento_id = 497;
insert into itens_venda values (default, 35, 491, 491, 2, 2.20, 110.70);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 491;
update estoque_total set total = total - 2 where medicamento_id = 491;
insert into itens_venda values (default, 35, 340, 340, 1, 0.80, 20.38);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 340;
update estoque_total set total = total - 1 where medicamento_id = 340;

insert into venda values (36, '2022-11-08 07:49:57', 55.13, null, null);
insert into itens_venda values (default, 36, 495, 495, 3, 0.90, 31.14);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 495;
update estoque_total set total = total - 3 where medicamento_id = 495;
insert into itens_venda values (default, 36, 331, 331, 1, 0.00, 23.99);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 331;
update estoque_total set total = total - 1 where medicamento_id = 331;

insert into venda values (37, '2022-11-08 08:53:08', 66.38, null, null);
insert into itens_venda values (default, 37, 505, 505, 2, 1.30, 66.38);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 505;
update estoque_total set total = total - 2 where medicamento_id = 505;

insert into venda values (38, '2022-11-08 08:57:39', 62.28, null, null);
insert into itens_venda values (default, 38, 349, 349, 2, 0.00, 62.28);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 349;
update estoque_total set total = total - 2 where medicamento_id = 349;

insert into venda values (39, '2022-11-08 09:39:48', 130.64, null, null);
insert into itens_venda values (default, 39, 417, 417, 3, 0.00, 44.22);
update estoque set quant_venda = quant_venda + 3, quant_atual = quant_atual - 3 where id = 417;
update estoque_total set total = total - 3 where medicamento_id = 417;
insert into itens_venda values (default, 39, 426, 426, 2, 0.00, 72.52);
update estoque set quant_venda = quant_venda + 2, quant_atual = quant_atual - 2 where id = 426;
update estoque_total set total = total - 2 where medicamento_id = 426;
insert into itens_venda values (default, 39, 309, 309, 1, 0.10, 13.90);
update estoque set quant_venda = quant_venda + 1, quant_atual = quant_atual - 1 where id = 309;
update estoque_total set total = total - 1 where medicamento_id = 309;

insert into venda values (40, '2022-11-08 10:46:43', 256.65, 13, null);
insert into itens_venda values (default, 40, 487, 487, 1, 15.00, 173.03);